<div id="<%= dom_id season %>">
  <p>
    <strong>Name:</strong>
    <%= season.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= season.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= season.end_date %>
  </p>
  
  <%= form_tag(season_register_team_path(@season), method: :post) do %>
    <%= hidden_field_tag :team_id, @team.id %>
    <%= submit_tag 'Register Team for Season' %>
  <% end %>

</div>
