<p style="color: green"><%= notice %></p>

<%= render @season %>
<h4>Teams:</h4>

<% @teams.each do |team| %>
  <h5><%= team.name %></h5>
<% end %>
<!--
<h5>Leagues:</h5>
<ul>
  <% @leagues.each do |league| %>
    <li><%= league.name %></li>
  <% end %>
</ul>
-->
<div>
  <%= link_to "Edit this season", edit_season_path(@season) %> |
  <%= link_to "Back to seasons", seasons_path %>

  <%= button_to "Destroy this season", @season, method: :delete %>
</div>
<% if current_user.admin? %> <!-- Assuming admin can generate schedule -->
  <%= button_to "Generate Schedule", generate_schedule_season_path(@season), method: :post, class: "btn btn-primary" %>
<% end %>
