<p style="color: green"><%= notice %></p>

<%= render @league %>
<p>Teams:</p>
<ul>
  <% @league.teams.each do |team| %>
    <li><%= team.name %></li>
  <% end %>
</ul>
<p>Seasons:</p>
<ul>
<% @league.season_ids.each do |season_id| %>
  <li><%= Season.find(season_id).name %></li>
<% end %>
</ul>
<div>
  <%= link_to "Edit this league", edit_league_path(@league) %> |
  <%= link_to "Back to leagues", leagues_path %>

  <%= button_to "Destroy this league", @league, method: :delete %>
</div>
